modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck"

[[workflows.workflow]]
name = "typecheck"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run typecheck"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[objectStorage]
defaultBucketID = "replit-objstore-e8462f9a-69ba-432c-bfbf-2c5125864b47"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBDIKtbl4-jA5VyBlmpV8cijy_DIt-J772h0faFpYdlKBSVcUXMRI317puzc6xqzK000i-maZN_Zl5AUo13kroU"
VAPID_PRIVATE_KEY = "HlLB2C5A_S0GoEEak9jh1AKkWdIuOYVJ7gbTw9chL44"
VAPID_EMAIL = "mailto:admin@gasless.one"
ENERGY_RENT_PROVIDER = "erp"
ALLOWED_ORIGINS = "https://gasless.khurk.xyz"
